[Unit]
Description=Loopback application for Gers Sci Pal
Wants=network-online.target
After=mariadb.service redis.service
Documentation=https://loopback.io/

[Service]
Type=simple
User=loopback
Group=loopback
Environment="LB_FILE_PATH=/var/lib/loopback/files/"
WorkingDirectory=/var/lib/loopback/io-suivi-api
ExecStart=/usr/bin/node -r source-map-support/register .
KillSignal=SIGINT
Restart=on-failure

[Install]
WantedBy=multi-user.target
